@model MissionControlSystem.Models.AsteroidModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>AsteroidModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiameterKm" class="control-label"></label>
                <input asp-for="DiameterKm" class="form-control" />
                <span asp-validation-for="DiameterKm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Composition" class="control-label"></label>
                <input asp-for="Composition" class="form-control" />
                <span asp-validation-for="Composition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DistanceFromEarthAu" class="control-label"></label>
                <input asp-for="DistanceFromEarthAu" class="form-control" />
                <span asp-validation-for="DistanceFromEarthAu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MissionId" class="control-label"></label>
                <select asp-for="MissionId" class ="form-control" asp-items="ViewBag.MissionId"></select>
                @* @Html.DropDownListFor(model => model.MissionId, htmlAttributes: new { @class = "mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50" }) *@
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
